<h1 class="sidebar-header">
  Tu lista
  <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
</h1>
<div class="content">
  <p>
    Para ordenar los centros por cercania a un punto geográfico haz click en el
    lugar deseado sobre el mapa con el botón secundario, o con el principal
    mientras pulsas la tecla <code>control</code>, o haz una pulsación larga si
    estas desde un movil o tablet.
  </p>
  <h2>Centros seleccionados</h2>
  <div id="cSel"></div>
  <h2>Centros visibles</h2>
  <div id="cShw"></div>
  <h2>Centros ocultos</h2>
  <div id="cHdn"></div>
  <h2>Centros descartados</h2>
  <div id="cDsc"></div>
  {% include "tab/donar.njk" %}
</div>
