<h1 class="sidebar-header">
  Mandar un mail
  <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
</h1>
<div class="content">
  <p>
    Puedes mandar un correo electrónico a todos los centros que se estan
    motrando en el mapa
    <a
      href="#"
      id="maillink"
      >pulsando en este enlace</a
    >
  </p>
  <p>
    También puedes mandar mails desde la pestaña
    <i class="fa fa-pencil-square-o"></i> Lista.
  </p>
</div>
