<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank"/>
    <title>Centros</title>
  </head>
  <body>
    <fieldset>
      <legend>
        <select>
        <option value="">Elige tu concurso de traslados</option>
        {{#each concursos}}
        <option value="{{this.id}}">{{ this.txt }}</option>
        {{/each}}
        <option value="-1">Ninguno de los anteriores</option>
      </select>
      </legend>
        {{#each concursos as | c | }}
        <div id="{{c.id}}">
          <ol>
          {{#each anexos[c.id] as | a | }}
            <li>{{a.txt}}</li>
          {{/each}}
          </ol>
        </div>
        {{/each}}
    </fieldset>
    <ol>
  </ol>
  </body>
</html>
