<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Concurso de traslados</title>
    {% include "head.njk" %}
  </head>
  <body>
    <main>
    {% for conv in convocatorias %}
    <fieldset id="{{conv.tipo}}">
    <legend>
      {% if conv.tipo == "concursillo" %}
      <em title="{{conv.descripcion}}">Concursillo</em>
      {%else%}
      <span title="{{conv.descripcion}}">{{conv.tipo|toTitle}}</span>
      {%endif%} <span class="convfull">{{conv.convocatoria}}</span><span class="convmini" title="{{conv.convocatoria}}">{{conv.convocatoria.split("-")[0]}}</span>
    </legend>
    {% if conv.tipo == "concursillo" %}
    <p>{{conv.descripcion}}</p>
    {%endif%}
    <div>
      {% for c in concursos %} {% if c.tipo_convocatoria == conv.tipo_convocatoria %}
        <a href="{{ c.id }}/" target="_self" id="{{ c.id }}">
          <button>{{ c.txt }}<br/><small>Cuerpo{% if ' ' in c.cuerpo %}s{%endif%} {{ c.cuerpo | yjoin }}</small></button>
        </a>
      {% endif %} {% endfor %}
    </div>
    </fieldset>
    {% endfor %}
    <hr/>
    <p>
      ¿No encuentras tu concurso de traslados? Escribe a
      <a href="{{ mail.no_concurso }}"> %VITE_EMAIL%</a> pidiendo que
      actualice la web.</p>
    <p>
      Mientras tanto puedes usar el concurso disponible más similar al tuyo,
      ya que la mayoría de los centros serán los mismos.
    </p>
  </main>
    <script type="module" src="/src/ts/concurso.ts"></script>
  </body>
</html>
