<div id="ficha-centros">

    <h1><a href="https://gestiona.comunidad.madrid/wpad_pub/run/j/MostrarFichaCentro.icm?cdCentro={{centro.id}}"><abbr title="{{tipos.get(centro.tipo).txt}}">{{tipos.get(centro.tipo).abr}}</abbr> {{centro.nombre}}</a></h1>

</div>
