<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base target="_blank"/>
<link href="/icon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/icon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/icon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/icon/site.webmanifest" rel="manifest"/>
<link color="#5bbad5" href="/icon/safari-pinned-tab.svg" rel="mask-icon"/>
<link href="/icon/favicon.ico" rel="shortcut icon"/>
<meta content="#da532c" name="msapplication-TileColor"/>
<meta content="/icon/browserconfig.xml" name="msapplication-config"/>
<meta content="#ffffff" name="theme-color"/>
