<div id="lista-centros">
{% for x in data %}
<p>
    <a target="_self" href="?{{x.centro.id}}">{{x.centro.id}} <abbr title="{{x.tipo.txt}}">{{x.tipo.abr}}</abbr> {{x.nombre}} ({{x.centro.municipio}})</a>
</p>
{% endfor %}
</div>