<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Concurso de traslados</title>
    {% include "head.njk" %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="sidebar" class="sidebar collapsed">
      <!-- Nav tabs -->
      <div class="sidebar-tabs">
        <ul role="tablist">
          <li title="Información"><a href="#home" role="tab"><i class="fa fa-info-circle"></i></a></li>
          <li title="Filtros"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
          <li title="Transporte"><a href="#transporte" role="tab"><i class="fa fa-subway"></i></a></li>
          <li id="lkMessages" title="Mandar mails"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
          <li class="tulista" title="Tu lista"><a href="#lista" role="tab"><i class="fa fa-pencil-square-o"></i><span id="count">{{concurso.centros.length}}</span></a></li>
          <li title="Contacto, correciones y sugerencias"><a href="#contacto" role="tab"><i class="fa fa-question-circle"></i></a></li>
          <li title="Descarga tu lista"><a data-href="data:text/plain;charset=utf-8," download="centros.txt" href="data:text/plain;charset=utf-8," id="download" role="tab"><i class="fa fa fa-cloud-download"></i></a></li>
          </ul>
          <ul role="tablist">
          <!--li title="Donaciones"><a href="#donaciones" role="tab"><i class="fa fa fa-eur"></i></a></li-->
          <li title="GitHub"><a href="%VITE_GITHUB%" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>

      <!-- Content tabs -->
      <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
          {% include "tab/info.njk" %}
        </div>
        <div class="sidebar-pane" id="settings">
          {% include "tab/filtros.njk" %}
        </div>
        <div class="sidebar-pane" id="transporte">
          {% include "tab/transporte.njk" %}
        </div>
        <div class="sidebar-pane" id="messages">
          {% include "tab/mail.njk" %}
        </div>
        <div class="sidebar-pane" id="lista">
          {% include "tab/listado.njk" %}
        </div>
        <div class="sidebar-pane" id="contacto">
          {% include "tab/contacto.njk" %}
        </div>
      </div>
    </div>
    <div id="map" class="sidebar-map" style="height: 100%"></div>
    <script type="module" src="/src/ts/map/index.ts"></script>
  </body>
</html>
